body {
    margin: 4vw;
}
main {
    padding: 4vw;
    border: 1px dotted #777;
}
h1, footer {
    text-align: center;
}
footer {
    margin-top: 1vw;
}
a, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #C92; 
}
