body {
    margin: 50px 50px 50px 75px;
    background-color: #FFF;
}
h1, h2.dates {
    text-align: center;
    color: #250;
}
h2 {
    margin-left: -25px;
    color: #DA1;
}
h3 {
    color: #960;
}
h1, h2, h3 {
    font-family: sans-serif;
    margin-bottom: 20px;
}
a, a:visited {
    color: #360;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}
sup {
    line-height: 1;
    margin-left: .5em;
    vertical-align: top;
}
dt {
    color: #960;
    font-size: x-large;
    margin-top: 1em;
    margin-bottom: .5em;
}
dd li {
    line-height: 1.7em;
}
ol li ol li {
    list-style-type: lower-alpha;
}
h3+ul li a {
    font-weight: normal;
}
p.tablesummary {
    text-align: center;
    font-weight: bold;
}
h2 + p, h2 + div, h3 + p, h3 + div {
    margin-top: -15px;
}
h3 + p, h3 + div {
    margin-left: 25px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
th {
    text-align: left;
}
.right {
    text-align: right;
}
header {
    margin-top: -25px;
    margin-left: -25px;
    padding: 0;
    display: table;
    width: 100%;
}
header img {
    display: table-cell;
    border: 0;
}
header div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
header h1, header h2 {
    margin: 5px 0px 5px 0px;
    padding: 0;
    line-height: 1em;
}
time {
    display: block;
    color: #250;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding: 5px;
}
#date_range {
    text-align: center;
}
#date_range>time {
    display: inline-block;
}
table.grades, table.competencies, table.schedule {
    margin-left: 10px;
    margin-right: 0;
}
table.grades th, table.grades td, table.competencies th {
    text-align: center;
    padding-right: 50px;
}
table.competencies td {
    text-align: left;
    padding-left: 20px;
}
table.schedule th {
    text-align: center;
}
table.schedule td {
    border: 1px dotted #999;
    padding: 8px;
    padding-right: 20px;
}
li.opt {
    color: #884;
}
ol.tasks li, ul.tasks li {
    margin-top: 0.5em;
}
footer {
    clear: both;
    text-align: center;
    margin-top: 40px;
}
footer p {
    margin-left: -25px;
    border-style: solid;
    border-width: thin;
    background-color: #DDD;
    border-color: #960;
    padding: 7px;
    text-align: left;
}
footer hr {
    margin-bottom: 20px;
}
footer a {
    display: inline;
    width: 50px;
    padding: 1px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #222;
    background-color: #DDD;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;

}
footer a strong {
    font-weight: bold;
    color: #FFF;
    background-color: #140;
    padding-left: 2px;
    margin-right: 5px;
}
footer a:hover {
    color: #FFF;
    background-color: #140;
}
footer a:hover strong {
    color: #222;
    background-color: #DDD;
}
