@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
body {
  background-color: #6AA84F;
  color: #274E13;
  margin: 4vw;
  font-family: Arial, sans-serif;
}
h1 {
  font-family: 'Mea Culpa', cursive;
  font-size: 4vw;
}
main {
  background-color: #D9EAD3;
  padding: 4vw;
  border: 1px dotted #777;
}
main, main>form>input {
  font-size: xx-large;
}
h1, footer {
  text-align: center;
}
a, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #EB4; 
}
ul#reminderlist {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0px;
  list-style-type: none;
}
ul#reminderlist li {
  border-bottom: 1px solid #a9a9a9;
  padding: 10px;
  background-image: linear-gradient(#f9f9f9, #e3e3e3);
}
ul#reminderlist li:last-child {
  border-bottom: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
ul#reminderlist li:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
footer {
  margin-top: 2vw;
  font-size: x-large;
}
