@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
article {	
  padding: 10px;
}
body {
  font-family: 'Signika', sans-serif;
  font-size: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #D8D8D8;
}
a, a:visited {
  text-decoration: none;
  color: #A36A00;
}
footer {
  font-size: 80%;
  text-align: center;
  clear: both;
  border-top-style: solid;
  border-top-width: 5px;
  border-color: #D8D8D8;
  margin-top: 0;
  padding: 0;
}
h1 {
  display: inline-block;
  text-shadow: 3px 3px 3px #888888;
  padding: 3px;
  margin-left: 15px;
  font-size: xx-large;
}
h2 {
  text-shadow: 3px 3px 3px #888888;
  margin-top: 5px; 
  margin-bottom: 0px; 
}
header {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: #D8D8D8;
}
nav {
  background-color: #D8D8D8;
  font-weight: bold;
  float: left;
  height: 420px;
  padding-right: 24px;
  margin-right: 10px;
  opacity: 0.8;
}
section {
  padding-top: 20px;
  background: url(../images/connected_world.png); 
  background-repeat: no-repeat;
  background-size: contain;
}
.floatright {
  float: right;
  clear: right;
  margin: 10px;
}
.navlinks {
  display: block;
  border: 2px solid #a1a1a1;
  padding: 2px 5px; 
  background: #FFD580;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #888888;
  font-weight: bold;
}
.searchbox {
  text-align: right;
}
#drop-menu {
  display: inline-block;
  text-align: center;
  padding: 5px;
  padding-top: 12px;
  margin-top: 18px;
  margin-right: 30px;
  width: 150px;
  cursor: pointer;
  border: 2px solid #A1A1A1;
  height: 20px;  
  max-height: 20px; 
  background: #FFD580;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 85%;
  color: #A36A00;
}
#drop-menu:hover {
  border: 3px solid #bababa;
}
#drop-menu:hover .sub-menu {
  display: inline-block;
}
.sub-menu {
  display: none;
  width: 150px;
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
}
.sub-menu li {
  list-style-type: none;
  display: block;
  border: 2px solid #FFD580;
  padding: 2px 5px; 
  background: #D8D8D8;
  border-radius: 5px;
}
.sub-menu li:hover {
  border: 3px solid #BABABA;
}
