/* STYLE SHEET FOR jQuery.HTM */


@font-face
{
font-family: oregonfont;
src: url('oregon book.ttf');
}

article 	
{	
padding:10px;
}

body 
{
font-family:oregonfont;
font-size: 85%;
border-style:solid;
border-width:5px;
border-color:#d8d8d8;
}

footer 
{
font-size:80%;
text-align:center;
clear:both;
border-top-style:solid;
border-top-width:5px;
border-top-color:#d8d8d8;
margin-top:0;
padding:0;
}

h1
{
text-shadow: 3px 3px 3px #888888;
margin-top: 5px; 
margin-bottom: 0px; 
}

header 
{
border-bottom-style:solid;
border-bottom-width:5px;
border-bottom-color:#d8d8d8;
}

nav 
{
background:#d8d8d8; 
font-weight:bold;
float:left;
height:420px;
padding-right:24px;
margin-right:10px;
opacity:0.8;
}

section
{
background:url(globe.png); 
background-repeat:no-repeat;
background-size:contain;
}

.floatright 
{
float:right;
clear:right;
margin:10px;
}

.navlinks
{
display:block;
border:2px solid #a1a1a1;
padding:2px 5px; 
background:#add8e6;
border-radius:5px;
text-decoration:none;
box-shadow:5px 5px 5px #888888;
font-weight:bold;
}

.searchbox 
{
text-align:right;
}

#drop-menu 
{
width: 150px;
cursor: pointer;
display:block;
border:2px solid #a1a1a1;
padding:5px;
height: 20px;  
max-height: 20px; 
background:#add8e6;
border-radius:5px;
box-shadow:5px 5px 5px #888888;
font-family:oregonfont;
font-weight:bold;
font-size:85%;
color:#0000A0;
}
	
#drop-menu:hover
{
border: 3px solid #bababa;
}

#drop-menu:hover .sub-menu 
{
display: inline-block;
}


#img-rotate
{
z-index:-1;
transform:rotate(345deg);
}

#logo-rotate
{
transform: rotateY(180deg);
} 

#video-rotate
{
transform:rotate(15deg);
}
	
.sub-menu 
{
display: none;
width: 150px;
padding: 5px 5px;
border-radius:5px;
box-shadow:5px 5px 5px #888888;
box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
}
	
.sub-menu li
{
list-style-type: none;
display: block;
border:2px solid #add8e6;
padding:2px 5px; 
background:#d8d8d8;
border-radius:5px;
}
	
.sub-menu li:hover 
{
border: 3px solid #bababa;
}
	